port {{ openvpn_port }} 
proto {{ openvpn_proto }}
dev {{ openvpn_dev }}
ca {{ project_path }}/{{ cert_main_path }}/CA_cert.pem
cert {{ project_path }}/{{ cert_path }}/ServerCert.pem
key {{ project_path }}/{{ pk_path }}/ServerKey.pem
dh {{ openvpn_path }}/dh2048.pem
crl-verify {{ project_path }}/{{ crl_path }}/crl.pem
tls-auth {{ openvpn_path }}/tls-auth.key
server 192.168.160.0 255.255.255.0
tls-server
ifconfig-pool-persist ipp.txt
client-config-dir {{ openvpn_path }}/staticclients
push "redirect-gateway"
push "dhcp-option DNS 8.8.8.8"
#client-to-client
keepalive 10 120
persist-key
persist-tun
max-clients 20
status openvpn-status.log
verb 4
#duplicate-cn
#push "route 192.168.160.1 255.255.255.0"
#push "route 192.168.150.0 255.255.255.0"
