client
dev tun
proto udp
port 1194
remote {{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'] }} #IP сервера
script-security 2
dhcp-option DNS 8.8.8.8
tls-client
<tls-auth>
{{ tls_auth_result.stdout }}
</tls-auth>
<ca>
{{ ca_cert_result.stdout }}
</ca>
<cert>
{{ client_cert_result.stdout }}
</cert>
<key>
{{client_key_result.stdout }}
</key>
verb 3